/* adicionando a fonte via arquivo local*/
@font-face {
    font-family: "Unbounded";
    src: url('../fonts/Unbounded-Bold.ttf')
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap; /* com esse atributo definido com swap, caso o navegador carregue o arquivo da fonte lentamente, primeiro será exibido a sans-serif e quando carregar a fonte personalizada, será feito o swap para a mesma*/
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins-Regular.ttf')
    format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* reset css */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0E1014;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

header img {
    display: block;
    margin: 75px 0 0 360px;
}

h1 {
    font-family: "Unbounded", sans-serif;
    font-size: 80px;
    text-align: center;
    margin-top: 60px;
}

/* destacar trecho do título com outra cor*/
h1 > span {
    color: #9747ff;
}

p {
    width: 792px;
    margin: 24px auto 0;
    text-align: center;
}

a {
    color: ffffff;
    background-color: #9747ff;
    text-decoration: none;
    display: block;
    width: 340px;
    height: 66px;
    line-height: 66px;
    border-radius: 36px;
    box-shadow: 4px 2px 2px #4801a3;
    text-align: center;
    margin: 40px auto;
}

a:hover{
    background-color: #8233E8;
}

a:visited{
    color: white;
}

section img#celulares {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

/*media-queries*/
/* Versão para tablets - até 768 de width*/
@media screen and (max-width: 768px) {

    header img {
        margin: 65px 0 0 60px;
    }

    /* quando for tela menor, a largura do p diminui tbm*/
    p {
        width: 648px;
    }
}

/* Versão para celular - até 375px*/
@media screen and (max-width: 375px) {
    
    header img{
        margin: 32px 0 0 16px;
    }

    h1 {
        font-size: 40px;
    }

    p{
        font-size: 20px;
        width: 340px;
    }

    a{
        font-size: 20px;
        width: 251px;
    }

    section img#celulares {
        width: 340px;
        height: 230px;
    }
}